.fade-in {
    animation: fadeInOpacity 0.4s ease 0s 1;
}

@keyframes fadeInOpacity
{
    0% { opacity: 0;}
    100% {opacity: 1;}
}

.badge-list-item {
    display: inline;
    margin: 0.5em;
    margin-right: 1em;
}

.menu-items {
    display: inline-block;
    margin: 0.5em;
    width: 8em;
}

.table-restaurant {
    display: inline-block;
    margin: 0.5em;
    width: 8em;
    height: 8em;
    background-color: #aaaaaa;
    text-align: center;
    border-radius: 1em;
    cursor: pointer;
    padding: 2em;
    transition: all ease 0.3s;
}

.table-restaurant-active { 
    background-color: #007bff;
}

@keyframes slideInOpacity
{
    0% { opacity: 0;}
    20% { opacity: 0;}
    100% {opacity: 1;}
}
@keyframes slideInAnimation
{
    from{transform: translateY(-500px)}
    to{ transform: translateY(0)}
}
.slideIn {
    animation: slideInAnimation 0.3s cubic-bezier(0.03, 0.73, 0, 0.98) 0s 1, slideInOpacity 0.4s ease 0s 1;
}
